* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* NAVIGATION BAR */

.nav-bar {
    background-color: #000000;
    max-height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.nav-logo {
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.search-box-1, .btn-1, .btn-2 {
    border: 1px solid ;
    border-radius: 7px;
    padding: 10px 20px;
    height: 50px;
}

a, ul {
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

.nav-btn {
    display: flex;
    gap: 20px;
}

.btn-1 {
    background-color: #343A40;
    transition: 0.5s;
    transform: scale(1.05, 1.05);
}

.btn-1:hover, .btn-1:active {
    color: #000000;
    background-color: #212529
    box-shadow: 0px 1px 4px #FFFFFF;
}

.btn-2 {
    color: #FFFFFF;
    background-color: #DD2EDD;
    padding: 15px 40px;
    border: 0;
    transition: 0.5s;
    transform: scale(1.05, 1.05);
    
}


.btn-2:hover, .btn-2:active {
    color: #000000;
    background-color: #862e9c;
    box-shadow: 0px 1px 4px #FFFFFF;
}

h1 {
    font-size: 50px;
}

/* HERO SECTION */

.hero-sec {
    background-color: #B2B5E0;
    max-height: 500px;
    width: 100%;
    padding: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.search-box-2 {
    padding: 25px 50px;
    border: 1px solid;
    border-radius: 6px;
}



